<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Data Visualization</title>
</head>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='credit3.png')}}" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
        <a class="nav-link" href="http://127.0.0.1:5000/predict">Predict</a>
        <a class="nav-link active" href="http://127.0.0.1:5000/datviz">Data Visualization <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="http://127.0.0.1:5000/data">Data</a>
        
      </div>
    </div>
  </nav>


<body>
    <br>
    <br>
    <div class="alert alert-primary" role="alert">
        <h1>Data Visualization</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 style="text-align:center"><b>Distribution Features</b></h1>
                <!-- <div class="mt-4"> -->
                    <p>
                        {% if plot != None %}
                        <img src="{{url_for('static', filename='distribution.png')}}"/> {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <h1 style="text-align:center"><b>Boxplot</b></h1>
                <!-- <div class="mt-4"> -->
                    <p>
                        {% if plot2 != None %}
                        <img src="{{url_for('static', filename='boxplot.png')}}"/>{% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <h1 style="text-align:center"><b>Correlation Matrix - Pearson</b></h1>
                <!-- <div class="mt-4"> -->
                    <p>
                        {% if plot2 != None %}
                        <img src="{{url_for('static', filename='correlation_matrix.png')}}"/> {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <h1 style="text-align:center"><b>Probabilty Default vs Not Default</b></h1>
                <!-- <div class="mt-4"> -->
                    <p>
                        {% if plot2 != None %}
                        <img src="{{url_for('static', filename='default.png')}}"/> {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <h1 style="text-align:center"><b>Classification</b></h1>
                <!-- <div class="mt-4"> -->
                    <p>
                        {% if plot2 != None %}
                        <img src="{{url_for('static', filename='classification.png')}}"/> {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

























    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>